<div class="card border-primary mt-4">
  <div class="card-header bg-transparent">Newton's Education Academy</div>
  <div class="card-body">
    <h2 class="card-title">Tapan Kharel</h2>
  </div>
  <div class="card-footer bg-transparent">
    <a href="#" class="btn btn-primary">Details</a>
  </div>
</div>
<div class="card border-primary mt-4">
  <div class="card-header bg-transparent">Newton's Education Academy</div>
  <div class="card-body">
    <h2 class="card-title">Surendra Nepal</h2>
  </div>
  <div class="card-footer bg-transparent">
    <a href="#" class="btn btn-primary">Details</a>
  </div>
</div>
